.slide-fade-enter-active,
.slide-fade-exit-active {
  transition: opacity 0.3s, transform 0.3s;
}

.slide-fade-enter,
.slide-fade-exit-to {
  transform: translateY(1rem);
  opacity: 0;
}

.slide-fade-enter {

}

.slide-fade {
  transition: opacity 0.2s, transform 0.2s;

  &-enter {
    transform: translateY(-10rem);
    opacity: 1;

    &-active {
      transition: opacity 0.3s, transform 0.3s;
    }
  }

  &-exit {
    transform: translateX(1rem);
    opacity: 0;
  }
}